/**************обнуление***********/
a {
  color: #000000;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

/**********************************/
:root {
  --maxWidthContainer: 1440px;
  --colorFontGrey: #9d8665;
  --colorFontLink: #caaa7d;
  --colorFontBasic: black;
  --colorFontWhite: white;
}

html,
body {
  height: 100%;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 300;
  color: var(--colorFontBasic);
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* background-color: var(--colorFontBasic);*/
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1440px;
  margin: 0 auto;
}

/*------------------ШАПКА--------------------------------*/
.header {
  width: 100%;
  background-color: black;
}
.header__container {
  display: flex;
  min-height: 150px;
  align-items: center;
  box-sizing: content-box;
  padding: 0 15px;
  background-color: var(--colorFontBasic);
}
.header-logo {
  display: flex;
  min-height: 33px;
  align-items: center;
}

.header-logo__title {
  margin: 0 0 0 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
  font-family: Forum;
  font-weight: 400;
  color: var(--colorFontWhite);
}
.header__menu {
  margin: 0 0 0 466px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu_item:not(:last-child) {
  margin: 0 55px 0 0;
}
.menu_link {
  color: var(--colorFontWhite);
  font-weight: 200;
  line-height: calc(24 / 22 * 100%);
  letter-spacing: 2px;
}
/*--------------------------------------------*/
/*--------------footer------------------------*/
.footer {
  padding: 75px 0 0 0;
  width: 100%;
  min-height: 392px;
  background-color: #000000;
}

.footer-first-block {
  display: flex;
  justify-content: space-between;
}
.footer-second-block {
  padding: 50px 0 50px 0;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-second-block a {
  color: #ffffff;
}

.footer-menu {
  height: 128px;
}
.footer-menu__list {
  display: contents;
  flex-direction: column;
}

.social-block {
  padding: 160px 0 0 0;
  min-width: calc(340 * 100% / 1440);
  min-height: 48px;
}
.social-list {
  min-height: 48px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  height: 48px;
  width: 48px;
  padding: 12px;
  border: #ffffff 2px solid;
  border-radius: 50%;
}

/*--------------------------------------------*/
/*------------slick---------------------------*/
.slick-slider {
  min-width: 0px;
  width: 1000px;
  padding: 0 0 0 61px;
  position: relative;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  justify-content: flex-end;
}

.slick-arrow {
  position: absolute;
  bottom: 60px;
}
.slick-arrow.slick-prev {
  right: 75px;
}
.slick-arrow.slick-next {
  right: 125px;
}

/*--------------------------------------------*/
/*---------------карусель---------------------
.carousel {
}
.item-container {
}
.item {
}
.description {
}
.project-name {
}
.control {
}
.left-control {
}
.arrow {
}
.left-arrow {
}
.right-control {
}
.right-arrow {
}
*/
/*----------------------------------------------------------------------*/
/***************main**********************/
.page {
  flex: 1 1 auto;
}

.section-title {
  font-family: forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 112%;
  text-transform: uppercase;
  color: var(--colorFontGrey);
  letter-spacing: 5px;
}

.section-dark-title {
  color: var(--colorFontWhite);
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.section-dark {
  background-color: black;
}
/*---------------Welcome----------------*/
.welcome {
  background-color: #030303;
}

.welcome-container {
  width: 100%;
  min-height: 810px;
  background: linear-gradient(to left, transparent 30%, #030303 70%);
    /*url(/assets/img/welcome/1.jpg) 100% 0% no-repeat;*/
  position: relative;
}

.welcome-text {
  min-width: 598px;
  padding: 150px 0 0 0;
}
.welcome-text > p {
  padding: 25px 0 0 0;
  color: var(--colorFontWhite);
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 117%;
  font-weight: 300;
}
.welcome-button {
  padding: 75px 0 0 0;
}
.welcome-button > a {
  background-color: #710707;
  width: 360px;
  min-height: 75px;
  display: flex;
  color: var(--colorFontWhite);
  font-size: 22px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  letter-spacing: 2px;
}
.slider-panel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: #030303;
  color: white;
  justify-content: start;
}

.slide-number {
  margin: 0 0 0 74px;
  min-width: 76px;
}
.bullets {
  margin: 0 0 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 180px;
}
.item-bullets {
  height: 16px;
  width: 16px;
  background-color: white;
}
.active-bullet {
  background-color: #d2b183;
}
.slider-arrows {
  margin: 0 0 0 60px;
  width: 80px;
  height: 8px;
  display: flex;
  /* background: url(/assets/svg/welcome/←-1.svg) left no-repeat,
    url(/assets/svg/welcome/←.svg) right no-repeat;*/
}
.slide-prev {
  height: 100%;
  width: 50%;
  background: url(/assets/svg/welcome/←-1.svg) left no-repeat;
  background-color: #000000;
  border-width: 0;
}
.slide-next {
  height: 100%;
  width: 50%;
  background-color: #000000;
  border-width: 0;
  background: url(/assets/svg/welcome/←.svg) right no-repeat;
}
/* display: flex;  
    justify-content: space-between;

}
.prev-arrow{
    width: 30px;
    background: url(assets/svg/welcome/←-1.svg);
}
.next-arrow{
    width: 30px;
    background: url(assets/svg/welcome/←.svg);
    
}*/
/*--------------------------------------*/
/*--------------Virtual tour------------*/
.tour-section {
  padding: 75px 0;
}
.tour__container {
  min-height: 1116px;
}

.tour__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 103px 0 0 0;
  gap: 75px 30px;
  justify-content: space-between;
}

.tour__item {
  background-color: white;
}

.item-tour__img {
  display: block;
}
.item-tour__title {
  padding: 25px 0 0 0;
  position: relative;
  font-family: forum;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 35px;
}

.item-tour__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #710707;
}

.item-tour__text {
  font-weight: 200;
}
.text-360 {
  padding: 22px 0 10px 0;
  font-size: 22px;
  line-height: 26px;
}
.text-panorama {
  font-size: 18px;
  line-height: 21px;
}

/*--------------------------------------*/
/*-------------gallery------------------*/

.gallery-section-title {
  padding: 75px 0;
}
.gallery__container {
  overflow: hidden;
  height: 2125px;
  position: relative;
}
.gallery__container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, black);
  opacity: 0.8;
}

.gallery__inner-container {
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2800px;
  align-content: center;
  column-gap: 18px;
  row-gap: 24px;
  width: 100%;
}

.gallery__item {
  display: block;
  width: 456px;
  position: relative;
}

.gallery__item:nth-child(3n + 1) {
  order: 1;
}
.gallery__item:nth-child(3n + 2) {
  order: 2;
  bottom: 25px;
}
.gallery__item:nth-child(3n) {
  order: 3;
}

.gallery__inner-container::before,
.gallery__inner-container::after {
  content: "";
  flex-basis: 100%;
  width: 0px;
  order: 2;
}

/*--------------------------------------*/
/*------------explore-------------------*/
.explore-section {
  padding: 75px 0;
  min-height: 865px;
}
.explore-section__container {
  display: flex;
  justify-content: start;
  min-height: 100%;
}

.title-text-block {
  padding: 0 60px 0 0;
  color: var(--colorFontWhite);
  font-weight: 300;
  line-height: 38px;
  max-width: 720px;
}

.title-text-block > p {
  margin: 0 0 25px 0;
}

.yellow {
  color: #caaa7d;
}
.section-explore-title {
  margin: -10px 0 103px 0;
}

.image-explore-block {
  /* min-width: 720px;background: url(/assets/img/explore/fon.jpg) 0px 0px no-repeat;*/
  width: 100%;
  height: 700px;
  position: relative;
}

.image-explore-item {
  position: absolute;
  top: 0;
  left: 0;
}

.image-after > img {
  width: 50%;
  height: 100%;
}
.line-image {
  position: absolute;
  top: 0;
  left: calc(100% / 2);
}
/*--------------------------------------*/
/*------------parallax-----------------*/
.parallax {
  width: 100%;
  height: 400px;
  background-image: url(/assets/img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
}
/*-------------video-------------------*/
.video-section {
  margin: 75px 0;
}
.video-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-title-block > p {
  max-width: 720px;
  line-height: 175%;
}

.video-block {
  padding: 75px 0 0 0;
}

.video-slide-main {
  min-width: 100%;

  position: relative;
  background-color: #030303;
}
/*.video-slide-main::after{
    content: "";
    position: absolute;
    bottom:-79px;
    left:0;
    width: 100%;
    height:85px;
    background-color: black;
    opacity: 1;
}*/

.video-play {
  position: absolute;
  left: 50%;
  top: 43.4%;
  width: 15%;
  margin: -7.5% 0 0 -7.5%;
}

.play-element {
  width: 6.4%;
  /*  height: 120px;*/
  margin: -4.16% 0 0 -3%;
}

.video-panel {
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="range"] {
  max-height: 8px;
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 40%,
    #fff 40%,
    #fff 100%
  );
  -webkit-appearance: none;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
.progress-video {
  width: 65%;
}
.progress-volume {
  width: 10.76%;
}
.video-slide-main-img {
  width: 100%;
}

.video-slides {
  max-width: 100%;
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  column-gap: 2.916%;
}
.mini-videos {
  width: 100%;
  position: relative;
}
.mini-video {
  width: 100%;
}

.mini-video-title-block {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 10px;
}
.mini-video-title-block > p {
  width: 75%;
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}

.youtube-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -34px;
}

.video-bullets {
  max-width: 200px;
  margin: 40px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-video-bullets {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #999999;
}
.active-video-bullet {
  background-color: #000000;
}
/*----------------------------------------*/
/*-----------tickets----------------------*/

.tickets-section-title {
  padding: 75px 0 0 0;
}
.ticket-section-block {
  padding: 103px 0 75px 0;
  display: flex;
  justify-content: space-between;
}
.ticket-change-block {
  width: calc(660 * 100% / 1440);
  display: flex;
  justify-content: space-between;
}

/*----------------------------------------*/
/*---------contacts-----------------------*/
.contact-section-title {
  padding: 75px 0 0 0;
}
.contact-block {
  padding: 103px 0 75px 0;
  display: flex;
  justify-content: space-between;
}
.contact-info {
  max-width: 19.6%;
}

h3 {
  font-weight: 500;
  line-height: 33px;
  font-size: 28px;
}
.list-contacts {
  padding: 75px 0 0 0;
}

.list-contacts > li {
  line-height: 26px;
  padding: 0 0 25px 0;
}

/*****************************************/
/*------------------подвал----------------------------------------------*/

/*--------------------------------------------------*/
