:root {
  --active-color: #FFBCA2;
  --hover-color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color:white;
  text-decoration: none;
  font-size: 20px;
}

.hide{
  display: none;
}
.wrapper {
  position: relative;
  max-width: 520px;
  height: 100%;
  margin: 0 auto;
  background-color: black;
  font-family: "Comfortaa", cursive;
}
.start-page {
  width: 100%;
  height: 100%;
  background: url("./assets/img/start-page/fon.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.settings-button-container {
  align-self: flex-end;
  
}
.settings-icon {
  background: url("./assets/svg/start-page/carbon_settings.svg") no-repeat center/contain;
  width: 34px;
  height: 34px;
  margin: 20px 20px 20px 0;
  border-width:0 ;
}

.settings-icon:hover{
  transform: scale(1.5);
}

.logo {
  width: 46%;
  align-self: center;
  margin: 320px 0 32px 0;
}



.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/*
.category-artist-btn,
.category-pictures-btn {
  width: 75%;
  height: 56px;
  margin: 20px 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 56px;
  color: white;
  font-size: 24px; 
}

.category-artist-btn:hover,
.category-pictures-btn:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}
*/
.button{
  width: 75%;
  height: 56px;
  margin: 10px 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 56px;
  color: white;
  font-size: 24px; 
}
.button-settings{
  
}
.button:hover{
  color: black;
  background-color: var(--hover-color);
  transition: 0.5s;
}

.button:active{
  background-color: var(--active-color);
}

/************* settings************/


.settings-page {
  /*display: none;
  position: absolute;
  top: 0;
  left: 0; 
  background-color: rgba(0, 0, 0);*/
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.settings-title-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.back-to-start-page {
  /*color:#ffffff*/
  width: 30px;
  height: 25px;
  background: url('../assets/svg/settings-page/back.svg') center/contain no-repeat;
}

.back-to-start-page:hover{
  background: url('../assets/svg/settings-page/back-hover.svg') center/contain no-repeat;
  transition: 0.5s;
 }
.back-to-start-page:active{
  background: url('../assets/svg/settings-page/back-active.svg') center/contain no-repeat;
  transition: 0.5s;
}


.settings {

}

._show{
  display: block;
}
.volume-container {
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.settings-item{
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.volume-range {
  width: 100%;
  margin: 10px 30px;
}

.volume-mute-icon, .volume-up-icon {
  background: url("../assets/svg/settings-page/volume-mute.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
  border-width:0 ;
}
.volume-up-icon {
  background: url("../assets/svg/settings-page/bi_volume-down.svg") no-repeat center/contain;;
}

.timer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.timer-on-off-container{
  position: relative;
  margin: 20px 0px 70px -20px;
}

.check input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.radio{
  
  
}
.check{
 
  
}
.check-box {
  position: absolute;
  left: 40px;
  top: 0;
  width: 36px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 18px;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.check-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 22px;
  height: 22px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: white;
}

.check input:checked ~ .check-box:before {
  background-color: var(--active-color);
  left: 10px;
}

.check input:checked ~ .check-box {
  background-color: var(--active-color);
}

.check input:hover:not(:checked) ~ .check-box:before {
  background-color: var(--active-color);
  left: 0;
}
.check input:hover:not(:checked) ~ .check-box {
  border: 1px solid var(--active-color);
}

.number {
 margin: 20px;
}

.minus, .plus{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  border: 1px solid white;
  text-align: center;
}

.minus:hover, .plus:hover{
  background-color: var(--hover-color) ;
  transition: 0.5s;
}

.minus:active, .plus:active{
 transform: scale(1.3);
 background-color: var(--active-color)
}

.timer-value{
  width: 50px;
  height: 30px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  line-height: 25px;
  border-width: 0;
  text-align: center;
  -webkit-appearance: textfield;
}
.timer-value::-webkit-inner-spin-button,
.timer-value::-webkit-outer-spin-button {
  display: none;
}

.button-container-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.default-settings-btn {
}
.save-settings-btn {
}

/******category***********/
.page-category{
  color: white;
  height: 100%;
  background-color: black;

}

.categories-button-container{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}
.categories-button-container > .settings-icon{
  margin: 0;
}
.category-logo{
  margin: 0px;
} 

.score-icon{
  background: url("./assets/svg/category-page/score.svg") no-repeat center/contain;
  width: 34px;
  height: 34px;
  margin:  0;
  border-width:0 ;
  color: black;
  font-size: 0px;
  transition: 0.3s;
}


.score-icon:active{
  background: url("./assets/svg/category-page/score-active.svg") no-repeat center/contain ;
  transform: scale(1.5);
  transition: 0.3s;
}



.title{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0 30px 0;
}
.categories{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

}
.category{
width: 50%;
padding: 10px;

}

.category-discription{
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  font-size: 20px;
}
.number-category{

}

.correct-answers{

}

.card-image-container {
	
  padding: 0px 0px 100% 0px;
	overflow: hidden;
	position: relative;
  border-radius: 10px;
  
}

.category-image-card{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
  
}

.card-image-container:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to left, black, var(--active-color));
	opacity: 0.6;
  cursor: pointer;
}

.played.card-image-container::after{
  opacity: 0;
}



/********PicturesQuestion**********/

.page-question{
  width: 100%;
  color:white;
}
.header-page-question{
  display: flex;
  justify-content: space-between;
}

.timer-box{
  display: block;
  text-align: center;
  padding: 20px;
}

#timer{
  color: white;
  height: 40px;
  font-size: 20px;
}

.cancel-icon{
  background-color: black;
  color: #ffffff;
  font-size: 24px;
  padding: 20px;
  border: 0px;
}
.question-picture {
  width: 350px;
  height: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  background-size: contain;
}
.answers-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.answer-picture, .result-image{
  position: relative;
  width: 50%;
  height: 170px;
  border: 5px solid black;
  /*margin: 5px;*/
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
}
.image-card, .result-image-card{
  width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	
}

.button-answer {
  width: 45%;
  font-size: 20px;
}
.button-picture{
  height: 160px;
  background-size: contain;
}

/*********answer************/
.page-answer, .page-result{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -3;
  opacity: 0;
  
}

.page-content{
  width: 280px;
  height: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

h2{
  padding: 20px 0px 10px;
  text-align: center;
}

.next-button, .result-button{
  margin: 40px 0 0 0;
  background-color: var(--active-color);
  height: 35px;
  transition: 0.5s;
  cursor: pointer;
}
.next-button:hover, .result-button:hover{
  background-color: var(--hover-color);
  color: black;
  border: 1px solid black;
  transition: 0.5s;
}
.next-button:active, .result-button:active{
  background-color: var(--active-color);
  color: black;
  border: 1px solid var(--active-color);
  transition: 0.5s;
}

.answer-image{
  position: relative;
  width: 100%;
  height: 170px;
  border: 5px solid black;
  /*margin: 5px;*/
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
}

.image-icon{
  position: absolute;
  top: 0;
  left:0;
}
/*---------результат--------*/

.result-image{
  width: 90%;
  height: 200px;
  border: 0px solid black;
  /*margin: 5px;*/
  border-radius: 10px;
  /*background-size: auto 100%;*/
  cursor: unset;
}

.result-image-card{
  object-fit: contain;
}




.footer {
}
/*--------520px-768px---------*/
@media (min-width: 520px) and (max-width:768px) {
  .wrapper{
    max-width: 100%;
    max-height: 100vh;
  }
  
  .start-page {
    height: 100vh;
  }

  .logo {
   /* width: calc(320px * 100% / 768px);
    align-self: center;*/
    margin: 50% 0 20% 0;
  }

  .button{
    width: 35%;
    height: 56px;
  }

  .settings-title-container {
    justify-content: start;
    padding: 20px;
  }
  
  .settings-title-container p{
    margin-left: 30px;
    font-size: 24px;
    line-height: 28px;
  }

  .volume-container {
    justify-content: space-between;
  }

  .settings{
    padding: 0 80px;
  }

  .settings-item{
    margin-top: 80px;
    text-align: left;
    font-size: 28px;

  }

  .volume-range {
    width: 100%;
    margin: 20px 0px 10px;
  }
  
  .volume-mute-icon, .volume-up-icon {
    width: 40px;
    height: 40px;
   
  }

  .volume-container {
    margin: 0;
  }

  .timer-container {
    justify-content: start;
  }

  .timer-on-off-container{
    margin-left:0px;
  }

  .number{
    margin-left: 0;
  }

  .timer-value{
    font-size: 24px;
  }

  .button-container-settings {
    padding: 130px 0 0 0;
    justify-content: space-between;
  }
  .default-settings-btn, .save-settings-btn{
    width: 49%;
    
  }

  .title{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 70px 20px;
  }

  .score-icon{
    background-position:  0;
    padding: 0 0 0 25px;
    width: 150px;
    height: 35px;
    color: white;
    font-size: 30px;
    transition: 0.3s;
  }
 
  .score-icon:active{
    color: var(--active-color);
    text-decoration: none;
    background-position:  0;
    padding: 0 0 0 25px;
    width: 150px;
    height: 35px;
  }

  .category{
    width: 33%;
  }
  .category-discription{
    font-size: 24px;
  }
  
  .question-picture {
    width: 480px;
    height: 480px;
    display: block;
    margin: 0 auto 3vh;
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .answer-picture{
    width: 47%;
    height: 300px;
    margin: 1.5%;
  }

  .page-content{
    width: 500px;
    height: 680px;
  }

  .answer-image{
    height: 400px;
  }

  .button-answer{
    width: 45%;
    
  }
}
