.main-container{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-start-page {
  /*background: url('./assets/bg.jpg') no-repeat;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px);
  position: relative;
}

.box-ball{
  position: absolute;
  left: 70%;
  top:250px;
  width:200px;
  height: 250px;
  background: url('./assets/ball/1.png')  top left/200px 250px no-repeat ;
  z-index: -1;
  animation: ball 3s ease-in-out infinite 2s;
}

.box-ball{
 /* animation: ball 3s ease-in-out 3;*/
}

@keyframes ball {
 0%{
  left: 70%;
  top:250px;
 }

  25%{
    left:65%;
    top:250px;
    transform: rotate(30deg);
  }

  50%{
    left: 73%;
    top:250px;
    transform: rotate(-20deg);
  }

  75%{
    left:68%;
    top:250px;
    transform: rotate(20deg);
  }

  100%{
    left: 70%;
    top:250px;
  }

  
}

.start-button, .title-start-page {
  width: 300px;
  height: 50px;
  /*margin: 50px 0;*/
  border-radius: 50px;
  background-color: rgba(36, 197, 219, 0.15);
  border: 2px solid #24C5DB;
  color: white;
  font-size: 24px;
}

.start-button{
  cursor: pointer;
  margin-bottom: 30px ;
}

.title-start-page {
  width: 600px;
  height: 250px;
  margin-top: 50px;
  padding-top: 100px;
  text-align: center;
  font-size: 50px;
}
.footer {
  display: flex;
  justify-content: space-around;
  max-height: 70px;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(36, 197, 219, 0.15);
  color: white;
}

.route-box{
  position: relative;
  max-height: 70px;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #24C5DB;
  border-radius: 15px;
  background-color: #24c6dba6; /* rgba(36, 197, 219, 0.15); */
  color: white;
}

.link, 
.github-logo,
.year-logo{
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 20px;
}

.link:hover, 
.github-logo:hover{
  text-decoration: underline;
}

.selected-toys-counter{
  position: absolute;
  right: 10px;
  top:5px;
  
  width: 45px;
  height: 45px;
  float: right;
  color: red;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  background: url('./assets/svg/ball.svg') no-repeat 0 0/cover;
}
