.tree-page{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.settings-section, .toys-section{
  width: 20%;
  height: 100%;  
  display: flex;
  flex-direction: column;
}

.content-section{
  width: 55%;
}

.toys-section{
}

.pictures-box, .toys-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  background-color: rgba(36, 197, 219, 0.15);
  border: 2px solid #24C5DB;
  color: white;
  border-radius: 15px;
}

.title-pictures-box{
  width: 100%;
  margin: 5px 0;
  text-align: center;
  font-size: 20px;
}

.picture-icon{
  width: 25%;
  margin: 3px;
}